<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <ros2_control name="RealRobot" type="system">
        <hardware>
            <plugin>omnidrive_stm32/OmniDriveSTM32</plugin>
            <param name="left_wheel_name">wheel2_speed</param>
            <param name="right_wheel_name">wheel1_speed</param>
            <param name="back_wheel_name">wheel3_speed</param>
            <param name="loop_rate">30</param>
            <param name="device">/dev/usb-user</param>
            <param name="baud_rate">115200</param>
            <param name="timeout_ms">1000</param>
            <param name="enc_counts_per_rev">12770</param>
        </hardware>
        <joint name="wheel1_speed">
            <command_interface name="velocity" />
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>
        <joint name="wheel2_speed">
            <command_interface name="velocity" />
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>
        <joint name="wheel3_speed">
            <command_interface name="velocity" />
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>
    </ros2_control>
</robot>