[submodule "software/src/omnicare_navigation/bno055"]
	path = software/src/omnicare_navigation/bno055
	url = git@github.com:Thgm01/bno055.git

[submodule "software/src/omnicare_control/omnidirectional_controllers"]
	path = software/src/omnicare_control/omnidirectional_controllers
	url = https://github.com/Thgm01/omnidirectional_controllers.git
	branch  = humble
[submodule "software/src/omnicare_navigation/rplidar_ros"]
	path = software/src/omnicare_navigation/rplidar_ros
	url = https://github.com/Thgm01/rplidar_ros.git
	branch = ros2
[submodule "software/src/omnicare_vision/usb_cam"]
	path = software/src/omnicare_vision/usb_cam
	url = https://github.com/Thgm01/usb_cam
[submodule "software/src/omnicare_hri/omnicare_assistant"]
	path = software/src/omnicare_hri/omnicare_assistant
	url = https://github.com/Thgm01/omnicare_assistant

[submodule "software/src/omnicare_hri/omnicontroller_interface"]
	path = software/src/omnicare_hri/omnicontroller_interface
	url = https://github.com/LucasLagoeiro/omnicontroller_interface
