# Gerados pelo ROS
**/build
**/install
**/log

# Gerados pelo VS Code 
*/.vscode
.vscode

# Gerados pelo STM Cube IDE
**/.metadata
***/Debug

# dataset e bags do ros2
**/bags
**/datasets

*__pycache__/

