controller_manager:
  ros__parameters:
    update_rate: 100

    position_controller:
      type: position_controllers/JointGroupPositionController

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

position_controller:
  ros__parameters:
    joints:
      - link1_to_link2
      - link2_to_ee
